/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html, body, #root, #App {
  @apply text-typography_primary font-text w-full h-screen;
}

/* Headings */

h1 {
  @apply font-highlight;
}

h2 {
  @apply font-highlight;
}

h3 {
  @apply font-highlight;
}

h4 {
  @apply font-highlight;
}

h5 {
  @apply font-highlight text-h5-sm leading-h5-sm mb-1;
}

@screen sm {
  h1 {
    @apply font-highlight text-h1 leading-h1;
  }
  
  h2 {
    @apply font-highlight text-h2 leading-h2;
  }
  
  h3 {
    @apply font-highlight text-h3 leading-h3;
  }
  
  h4 {
    @apply font-highlight text-h4 leading-h4;
  }

  h5 {
    @apply font-highlight text-h5 leading-h5;
  }
}

/* Body Text */

p {
  @apply font-text text-base leading-base;
}

.team-card {
  min-width: 225px;
  max-width: 225px;
}